
/* Universl styles */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #a5ebc0;
}
/* Header styles */

header {
    padding: 50px 35px;
    background-color: #a5ebc0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Copperplate, fantasy;
  }

  nav ul li{
      cursor: pointer;
      transition: all 0.3s ease-in;
      position:relative;
  }

  nav li:hover {
      background: #a5dbeb;
  }

  header a{
    text-decoration: none;
    color: #262481;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 2.5vw;
}


.section-title {
   flex-wrap: wrap;
   padding: 50px 30px ;
}

/* HERO START */

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.profile {
    padding-top: 20px;
    width: 1500px;
    height: auto;
    margin: 0 auto 30px auto;
    color: #262481;
    overflow: auto;
    background-color: #a5dbeb;
}

.profile img {
    width: 35%;
    float: left;
}

.profiletxt {
    padding: 35px;
    float: right;
    width: 65%;
}

.profiletxt h2 {
    font-size: 60px;
}

.profiletxt h3 img {
    width: 5%;
    float: left;
}

.profiletxt p {
    font-size: 20px;
    margin: auto;
}


.section-title {
    color: #262481;
    padding-left: 300px;
    margin: 100px;
    font-size: 1000%;
    
}

/* PROJECTS*/

.proj {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.imgWrap {
    position: relative;
    width: 100%;
  }

  .ProjImg {
      width: 100%;
  }

  .ProjImg2 {
      width: 50%;
  }

  .ProjImg3 {
      width: 50%;
      float: inline-end right;
      clear: both;
  }

  .imgDesc {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #262481a4;
    color: #a5ebc0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s, visibility .3s;
  }

  .imgWrap:hover .imgDesc {
    visibility: visible;
    opacity: 100;
  }

  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .footer {
      color: #262481;
      background-color: #a5ebc0;
      font-size: 100px;
  }

